---
import Layout from '../layouts/Layout.astro';
import IntroHero from '../components/IntroHero';
import ProjectShowcase from '../components/ProjectShowcase';
import ExperienceTimeline from '../components/ExperienceTimeline';
import TechStackSection from '../components/TechStackSection';
import SocialLinks from '../components/SocialLinks';
import CreditsSection from '../components/CreditsSection';
---

<Layout title="Alan Tran | Software Engineer Portfolio">
	<SocialLinks />
	<main>
		<section id="intro" class="section-shell min-h-screen flex items-center">
			<IntroHero client:load />
		</section>

		<section id="projects" class="section-shell">
			<ProjectShowcase />
		</section>

		<section id="experience" class="section-shell">
			<ExperienceTimeline client:visible />
		</section>

		<section id="tech-stack" class="section-shell">
			<TechStackSection />
		</section>

		<section id="credits" class="section-shell pt-8 pb-16">
			<CreditsSection />
		</section>
	</main>
</Layout>
